.header {
  position: relative;
  height: 50vh;
  width: 100%;
}

.heading {
  position: absolute;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  text-align: center;
}

.subheading {
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  text-align: center;
}

.content_container {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: rgb(24, 63, 27);
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
}
