.main {
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.heading {
  margin-top: 20vh;
  font-size: 10rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
  pointer-events: none;
}

.subheading {
  font-size: rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
  pointer-events: none;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.whoAmISection {
  @extend .section;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50%;
}

.sectionContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contactSectionContainer {
  @extend .sectionContainer;

  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  place-items: center;
}

.contactSectionImage {
  position: absolute;
  top: -100vh;
  object-fit: cover;
  width: 100%;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.sectionText {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: justify;
}

.content_container {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: rgb(24, 63, 27);
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .heading {
    top: 40vh;
    font-size: 5rem;
  }
  .subheading {
    font-size: 2rem;
    top: 60vh;
  }
  .content {
    font-size: 1.5rem;
  }

  .contactSectionContainer {
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contactSectionImage {
    height: 150%;
    width: none;
  }

  .sectionTitle {
    font-size: 3rem;
  }

  .sectionText {
    font-size: 1.6rem;
  }

  .whoAmISection {
    width: 100%;
    height: 50%;
  }
}
